/*reglas generales*/
/*Importacion de Fonts en Google*/
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz@5..1200&family=Raleway&display=swap');
/*Media Query*/

/* Estilos generales */
html{
    font-size: 1em;
}

/*Body de la pagina*/
body{   
    font-family: 'Raleway', sans-serif;
    background-size: 1.6em;
    line-height: 2;
}

/*Titulos de la pagina*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair', sans-serif;
}

/*Configuracion de Titulos*/
h1{
    font-size: 5em;
    text-align: center;
}

h2{
    font-size: 4em;
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}


/*Clase Muebles*/
.muebles{
    color: #037BC0;
}

/*Clase Hero*/
.hero{
    padding: 25em;
    background: url("../imagenes/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Seccion de productos*/
.productos{
    justify-content: center;
    padding: 50px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(6fr 1fr);
    grid-template-rows: repeat(3fr 1fr);
    grid-template-areas: 
    "uno uno uno uno uno uno"
    "dos dos dos tres tres tres"
    "cuatro cuatro cinco cinco seis seis";
}

/*CSS General para la info de cuadros*/
.textproduct{
    border: 2px solid;
    border-radius: 10px;
    border-color: #D8D8D8;
    background-color: #037BC0;
    color: white;
    padding: 20px;
    text-align: center;
}

.button{
    background-color: #8cbc00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 20px 0px 20px
}

/*Producto 1*/
.producto1{
    display: flex;
    grid-area: uno;
}

.producto1 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/*Producto 2*/
.producto2{
    display: flex;
    grid-area: dos;
}

.producto2 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
}

/*Producto 3*/
.producto3{
    display: flex;
    grid-area: tres;
}

.producto3 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
}

/*Producto 4*/
.producto4{
    display: flex;
    grid-area: cuatro;
}

.producto4 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
}
/*Producto 5*/
.producto5{
    display: flex;
    grid-area: cinco;
}

.producto5 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
}
/*Producto 6*/
.producto6{
    display: flex;
    grid-area: seis;
}

.producto6 img{
    border-radius: 10px;
    border: 2px solid;
    border-color: #D8D8D8;
}
/*Seccion de Categorias*/
.categorias{
    justify-content: center;
    padding: 50px;
}
.container{
    display: flex;
    row-gap: 20px;
    column-gap: 50px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.container img{
    border-radius: 10px;
    width: 360px;
    height: 180px;
}

.container a{
    color: black;
    text-decoration: none;
}

/*Uso de FlexBox en footer*/
.footer{
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    justify-content: center;
}

footer h3{
    text-align: center;
}
.footernav li{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footernav a{
    color: black;
    text-decoration: none;
}

footer p{
    font-size: 0.8em;
    text-align: center;
}






